<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AllSearch">
  <select id="GetTutorList" parameterType="hashmap" resultType="sjls.todotalk.user.vo.UserVo">
  	SELECT	* FROM USER_INFO WHERE USER_NAME LIKE CONCAT('%',#{queryString},'%') AND REGISTER=2
  </select>
  <select id="GetMentorList" parameterType="hashmap" resultType="sjls.todotalk.user.vo.UserVo">
  	SELECT	* FROM USER_INFO
  	  WHERE USER_NAME = (SELECT  RECEIVER_NAME FROM RELATION_LIST WHERE PERMIT='Y' AND MENTOR='Y' AND RECEIVER_NAME LIKE CONCAT('%',#{queryString},'%'))
  </select>
  <select id="GetBoardList" parameterType="hashmap" resultType="hashmap">
  	SELECT BOARD_NAME, NOTICE_IDX AS IDX, NOTICE_TITLE AS TITLE, NOTICE_CONT AS CONT, USER_IDX, USER_ID, NOTICE_REGDATE AS REGDATE, NOTICE_READCOUNT AS READCOUNT
  	 FROM NOTICE_BOARD WHERE NOTICE_TITLE LIKE CONCAT('%',#{queryString},'%') OR NOTICE_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM QNA_BOARD WHERE QNA_TITLE LIKE CONCAT('%',#{queryString},'%') OR QNA_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM FREE_BOARD WHERE FREE_TITLE LIKE CONCAT('%',#{queryString},'%') OR FREE_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM COMM_BOARD WHERE COMM_TITLE LIKE CONCAT('%',#{queryString},'%') OR COMM_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM TUTOR_BOARD WHERE TUBO_TITLE LIKE CONCAT('%',#{queryString},'%') OR TUBO_CONT LIKE CONCAT('%',#{queryString},'%')
  </select>
  
</mapper>