<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AllSearch">
  <select id="GetTutorList" parameterType="hashmap" resultType="sjls.todotalk.user.vo.UserVo">
  	SELECT distinct	* FROM USER_INFO 
    WHERE (USER_NAME LIKE CONCAT('%',#{queryString},'%') OR USER_ID LIKE CONCAT('%',#{queryString},'%')
  	OR COUNTRY LIKE CONCAT('%',#{queryString},'%')) AND REGISTER=2
  </select>
  <select id="GetMentorList" parameterType="hashmap" resultType="sjls.todotalk.user.vo.UserVo">
  	SELECT distinct USER_IDX,USER_ID,USER_NAME,USER_PWD,USER_PHONE,USER_MAIL,COUNTRY,ADDRESS,REGDATE,REGISTER,INTRODUCE,RECOMMEND
	  FROM USER_INFO AS UI LEFT OUTER JOIN RELATION_LIST AS RL ON UI.USER_NAME = RL.RECEIVER_NAME
	  WHERE (RL.RECEIVER_NAME LIKE CONCAT('%',#{queryString},'%') OR UI.USER_ID LIKE CONCAT('%',#{queryString},'%')
 	  OR UI.COUNTRY LIKE CONCAT('%',#{queryString},'%'))
 	  
  </select>
  <select id="GetBoardList" parameterType="hashmap" resultType="hashmap">
  	SELECT BOARD_NAME, NOTICE_IDX AS IDX, NOTICE_TITLE AS TITLE, NOTICE_CONT AS CONT, USER_IDX, USER_ID, NOTICE_REGDATE AS REGDATE, NOTICE_READCOUNT AS READCOUNT
  	 FROM NOTICE_BOARD WHERE NOTICE_TITLE LIKE CONCAT('%',#{queryString},'%') OR NOTICE_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM QNA_BOARD WHERE QNA_TITLE LIKE CONCAT('%',#{queryString},'%') OR QNA_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM FREE_BOARD WHERE FREE_TITLE LIKE CONCAT('%',#{queryString},'%') OR FREE_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM COMM_BOARD WHERE COMM_TITLE LIKE CONCAT('%',#{queryString},'%') OR COMM_CONT LIKE CONCAT('%',#{queryString},'%')
  	UNION
  	SELECT * FROM TUTOR_BOARD WHERE TUBO_TITLE LIKE CONCAT('%',#{queryString},'%') OR TUBO_CONT LIKE CONCAT('%',#{queryString},'%')
  </select>
  <select id="GetUser" parameterType="String" resultType="sjls.todotalk.user.vo.UserVo">
    SELECT * FROM USER_INFO WHERE USER_ID=#{receiver_id}
  </select>
  <select id="GetPhoto" parameterType="String" resultType="String">
    SELECT PHOTO_NAME FROM USER_PHOTO WHERE USER_ID=#{receiver_id}
  </select>
  <insert id="RelationCreate" parameterType="hashmap">
    INSERT INTO RELATION_LIST (REQUIRE_ID, REQUIRE_NAME, RECEIVER_ID, RECEIVER_NAME, MENTOR, MENTEE, PERMIT)
     VALUES (#{require_id}, #{require_name}, #{receiver_id}, #{receiver_name}, 'Y','D','D') 
  </insert>
  <select id="GetRelationList" parameterType="String" resultType="sjls.todotalk.user.vo.RelationVo">
  	SELECT * FROM RELATION_LIST WHERE RECEIVER_ID = #{loginId} AND PERMIT='Y'
  </select>
  <select id="GetRelationList2" parameterType="String" resultType="sjls.todotalk.user.vo.RelationVo">
  	SELECT * FROM RELATION_LIST WHERE REQUIRE_ID = #{loginId} AND PERMIT='Y'
  </select>
  <select id="GetRelationRequire" parameterType="String" resultType="sjls.todotalk.user.vo.RelationVo">
  	SELECT * FROM RELATION_LIST WHERE RECEIVER_ID = #{loginId} AND PERMIT='D'
  </select>
  <select id="GetRelationCheck" parameterType="hashmap" resultType="sjls.todotalk.user.vo.RelationVo">
  	SELECT * FROM RELATION_LIST WHERE RECEIVER_ID = #{receiver_id} AND REQUIRE_ID = #{require_id}
  </select>
  <update id="relationPermit" parameterType="hashmap">
  	UPDATE RELATION_LIST SET PERMIT='Y' WHERE REQUIRE_ID=#{require_id} AND RECEIVER_ID=#{receiver_id}
  </update>
</mapper>