<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="board">
  
  <select id="freeList" resultType="sjls.todotalk.board.vo.FreeBoardVo">
  	SELECT FREE_IDX, FREE_TITLE, FREE_CONT, USER_ID, FREE_REGDATE, FREE_READCOUNT
	 FROM FREE_BOARD
  </select>
  
  <select id="getCont"  resultType="sjls.todotalk.board.vo.FreeBoardVo"  parameterType="int">
  	SELECT FREE_IDX, FREE_TITLE, FREE_CONT, USER_ID, FREE_REGDATE, FREE_READCOUNT
	 FROM FREE_BOARD
	 WHERE FREE_IDX = #{free_idx}
  </select>
  
  <insert id="insert" >
	INSERT INTO FREE_BOARD
	(FREE_TITLE, FREE_CONT,USER_ID, FREE_REGDATE, FREE_READCOUNT)
	VALUES(#{free_title}, #{free_cont}, #{user_id}, NOW(), 0);
  </insert>
  
  <delete id="delete">
  	DELETE FROM FREE_BOARD
	WHERE FREE_IDX= #{free_idx}
  </delete>
  
  </mapper>        