<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="QnABoard">
  
	<select id="qnaList" resultType="sjls.todotalk.board.vo.QnABoardVo" >
		SELECT BOARD_NAME, QNA_IDX, QNA_TITLE, QNA_CONT, USER_IDX, USER_ID, QNA_REGDATE, QNA_READCOUNT
		FROM QNA_BOARD
	</select>
	
	
   <select id="qnaRead" resultType="sjls.todotalk.board.vo.QnABoardVo" >
		SELECT BOARD_NAME, QNA_IDX, QNA_TITLE, QNA_CONT, USER_IDX, USER_ID, QNA_REGDATE, QNA_READCOUNT
		FROM QNA_BOARD
		WHERE QNA_IDX = #{qna_idx}
	</select>
	
 	<insert id="qnaWrite" >
		INSERT INTO QNA_BOARD
		(BOARD_NAME, QNA_TITLE, QNA_CONT, USER_IDX, USER_ID, QNA_REGDATE, QNA_READCOUNT)
		VALUES('QNA', #{qna_title}, #{qna_cont}, #{user_idx}, #{user_id}, now(), #{qna_readcount});
	</insert>
	
	
	<delete id="delete">
		DELETE FROM QNA_BOARD
		WHERE QNA_IDX=#{qna_idx}
	</delete>
	
 	<update id="qnaUpdate">
	 	UPDATE QNA_BOARD
		SET BOARD_NAME='QNA', QNA_TITLE=#{qna_title}, QNA_CONT=#{qna_cont}, 
				USER_IDX=#{user_idx}, USER_ID=#{user_id}, QNA_READCOUNT=#{qna_readcount}
		WHERE QNA_IDX= #{qna_idx};
	</update> 
  
  </mapper>        
  
  
  
  
  
  