<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="QnABoard">
  
  	<!-- 페이징 없는 목록 조회 -->
  	<select id="qnaList" resultType="sjls.todotalk.board.vo.PdsVo" >
		SELECT BOARD_NAME, QNA_IDX, QNA_TITLE, QNA_CONT, USER_IDX, USER_ID, QNA_REGDATE, QNA_READCOUNT
		FROM QNA_BOARD
	</select> 
	
	<!-- mysql 페이징 로직 -->
 	<select id="pagingList" resultType="sjls.todotalk.board.vo.PdsVo">
		SELECT *
		FROM QNA_BOARD
		ORDER BY QNA_IDX ASC 
		<!-- LIMIT #{startPageNum},#{endPageNum} -->
	</select> 
	
    <!-- 페이징을 위한 총 갯수 구하기 -->
	<select id="countBoardList" resultType="sjls.todotalk.board.vo.PdsVo">
	    SELECT COUNT(QNA_IDX)
		FROM QNA_BOARD
		WHERE 1=1
		AND QNA_IDX>0
	</select>
	
   <select id="qnaRead" resultType="sjls.todotalk.board.vo.QnABoardVo" >
		SELECT BOARD_NAME, QNA_IDX, QNA_TITLE, QNA_CONT, USER_IDX, USER_ID, QNA_REGDATE, QNA_READCOUNT
		FROM QNA_BOARD
		WHERE QNA_IDX = #{qna_idx}
	</select>
	
 	<insert id="qnaWrite" >
		INSERT INTO QNA_BOARD
		(BOARD_NAME, QNA_TITLE, QNA_CONT, USER_IDX, USER_ID, QNA_REGDATE, QNA_READCOUNT)
		VALUES('QNA', #{qna_title}, #{qna_cont}, #{user_idx}, #{user_id}, now(), #{qna_readcount});
	</insert>
	
	
	<delete id="delete">
		DELETE FROM QNA_BOARD
		WHERE QNA_IDX=#{qna_idx}
	</delete>
	
 	<update id="qnaUpdate">
	 	UPDATE QNA_BOARD
		SET BOARD_NAME='QNA', QNA_TITLE=#{qna_title}, QNA_CONT=#{qna_cont}, 
				USER_IDX=#{user_idx}, USER_ID=#{user_id}, QNA_READCOUNT=#{qna_readcount}
		WHERE QNA_IDX= #{qna_idx};
	</update> 
  
  </mapper>        
  
  
  
  
  
  