<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Reply">


	<!-- QnA 댓글 목록 --> 
	<select id="repList"  resultType="sjls.todotalk.board.vo.QnAReplyVo">
		SELECT QNA_IDX, QNA_RE_IDX, QNA_RE_CONT, USER_ID, QNA_RE_REGDATE
		FROM QNA_REPLY
		WHERE QNA_IDX=#{qna_idx}
	</select>
	
	<!-- Free 댓글 목록 --> 
	<select id="repListF"  resultType="sjls.todotalk.board.vo.FreeReplyVo">
		SELECT FREE_IDX, FREE_RE_IDX, FREE_RE_CONT, USER_ID, FREE_RE_REGDATE
		FROM FREE_REPLY
		WHERE FREE_IDX = #{free_idx}
	</select>
	
	
	<!-- QnA 댓글 쓰기 -->
	<insert id="repWrite">
		INSERT INTO QNA_REPLY
		(QNA_IDX, QNA_RE_CONT, USER_ID, QNA_RE_REGDATE)
		VALUES(#{qna_idx}, #{qna_re_cont}, #{user_id}, now());
	</insert>
	
	<!-- Free 댓글 쓰기 -->
	<insert id="repWriteF">
		INSERT INTO FREE_REPLY
		(FREE_IDX,FREE_RE_CONT, USER_ID, FREE_RE_REGDATE)
		VALUES(#{free_idx}, #{free_re_cont}, #{user_id}, now());
	</insert>
	
	
	
	<!-- QnA 게시글이랑 댓글 같이 삭제  -->
	<delete id="repAllDelete">
		DELETE FROM QNA_REPLY
		WHERE QNA_IDX= #{qna_idx};
	</delete>
	
	<!-- QnA 댓글 각각 하나하나 삭제 -->
	<delete id="repDelete">
		DELETE FROM todotalk.QNA_REPLY
		WHERE QNA_RE_IDX= #{qna_re_idx}
	</delete>
	
	<!-- Free 게시글이랑 댓글 같이 삭제  -->
	<delete id="repAllDeleteF">
		DELETE FROM FREE_REPLY
		WHERE FREE_IDX= #{free_idx};
	</delete>
	
	<!-- Free 댓글 각각 하나하나 삭제 -->
	<delete id="repDeleteF">
		DELETE FROM FREE_REPLY
		WHERE FREE_RE_IDX = #{free_re_idx}
	</delete>
	
	
	
	<!-- QnA 댓글 수정 --> 
	<update id="repUpdate">
	</update>  



  
  </mapper>        
  
  
  
  
  
  